@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

.title3{
    padding: 3rem;
    padding-left: 10rem;
}

.parVision {
    font-family: 'Crimson Text', serif;
    padding-left: 5rem;
    padding-right: 5rem;
}

.image5{
    width: 600px;
    opacity: 0.8;
    display: block;
    margin: auto;
}