@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.title1 {
    padding: 3rem;
}

.pa {
    text-align: left;
    font-family: 'Anton', sans-serif;
}

.image{
    width: 480px;
    opacity: 0.8;
    display: block;
    margin-right: auto;
}

.pe {
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.image1{
    width: 480px;
    opacity: 0.8;
    display: block;
    margin: auto;
}

.pi {
    text-align: right;
    font-family: 'Anton', sans-serif;
}

.image2{
    width: 480px;
    opacity: 0.8;
    display: block;
    margin-left: auto;
}

.po {
    text-align: left;
    font-family: 'Anton', sans-serif;
}

.image3{
    width: 480px;
    opacity: 0.8;
    display: block;
    margin-right: auto;
}